.card-1 {
  border-top: 5px solid #ff4f64;
  margin-bottom: 20px;
  background-color: white;
  width: 40%;
  height: 280px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 26px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.card-2 {
  border-top: 5px solid #00a8e7;
  margin-bottom: 20px;
  width: 40%;
  height: 280px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 26px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.card-3 {
  border-top: 5px solid #44c4a1;
  margin-bottom: 20px;
  width: 40%;
  height: 280px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 26px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.card-4 {
  border-top: 5px solid #fcc200;
  margin-bottom: 20px;
  width: 40%;
  height: 280px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 26px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

/* Write CSS code here. */
.imgBox {
  align-self: flex-end;
}

.heading1 {
  font-size: 20px;
  color: ;
}
