* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Write CSS code here */

.component-box {
  display: flex;
  flex-direction: row;
  overflow: auto;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
}
.main-container {
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4faff;
  justify-content: flex-start;
}
.para {
  font-size: 16px;
}
